<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <div align="center">
        <h2>Add User</h2>
        <form method="post" action="/crud/createUser">
            Name : <input type="text" name="name">
            Phone : <input type="text" name="phone">
            <input type="submit">
        </form><br>
        <a href="/crud">Add</a>
    </div>
</body>
</html>